<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.eclipse.sphinx.emf.compare.ui.actions.providers.BasicCompareActionProvider"
            id="org.eclipse.sphinx.emf.compare.ui.basicCompareActions">
         <enablement>
            <instanceof
                  value="org.eclipse.emf.ecore.EObject">
            </instanceof>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.sphinx.emf.compare.ui.editor.ModelCompareEditor"
            contributorClass="org.eclipse.sphinx.emf.compare.ui.editor.ModelCompareActionBarContributor"
            icon="$nl$/icons/full/eview16/compare_view.gif"
            id="org.eclipse.sphinx.emf.compare.ui.editors.modelCompareEditor"
            name="%sphinx.emf.compare.ui.editors.modelCompareEditor.name">
      </editor>
   </extension>
   <!--
   Uses deprecated org.eclipse.ui.popupMenus extension point instead of org.eclipse.ui.Menus to override existing compare with each other action.
   -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.sphinx.emf.compare.ui.eclipse.FileContributions"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.eclipse.sphinx.emf.compare.ui.actions.FileCompareAction"
               enablesFor="2+"
               id="org.eclipse.sphinx.emf.compare.ui.actions.compareWithEachOther"
               label="%sphinx.emf.compare.ui.actions.compareWithEachOther.label"
               menubarPath="compareWithMenu/compareWithGroup"
               overrideActionId="org.eclipse.team.ui.compareWithEachOther"
               tooltip="%sphinx.emf.compare.ui.actions.compareWithEachOther.tooltip">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.compare.structureMergeViewers">
      <viewer
            class="org.eclipse.sphinx.emf.compare.ui.viewer.structuremerge.ModelCompareStructureMergeViewerCreator"
            extensions="*"
            id="org.eclipse.emf.compare.ide.ui.internal.structureMergeViewer">
      </viewer>
      <contentTypeBinding
            contentTypeId="org.eclipse.emf.ecore.xmi"
            structureMergeViewerId="org.eclipse.emf.compare.ide.ui.internal.structureMergeViewer">
      </contentTypeBinding>
      <contentTypeBinding
            contentTypeId="org.eclipse.emf.compare.content.type"
            structureMergeViewerId="org.eclipse.emf.compare.ide.ui.internal.structureMergeViewer">
      </contentTypeBinding>
   </extension>
</plugin>
