<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<!--
 <copyright>

 Copyright (c) 2014-2015 itemis and others.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v2.0
 which accompanies this distribution, and is available at
 https://www.eclipse.org/org/documents/epl-2.0/EPL-2.0.html

 Contributors:
     itemis - Initial API and implementation

 </copyright>
-->

<plugin>

   <extension point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="org.eclipse.sphinx.emf.validation.advanced.ui.validate" />
         </includes>
      </viewerActionBinding>
      <viewerActionBinding
            viewerId="org.eclipse.sphinx.examples.explorer.views.modelExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.sphinx.emf.validation.advanced.ui.validate">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="org.eclipse.sphinx.emf.check.ui.actions.BasicCheckValidationActionProvider"
            id="org.eclipse.sphinx.emf.validation.advanced.ui.validate">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.emf.ecore.EObject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
			</or>
         </enablement>
      </actionProvider>
   </extension>


   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.sphinx.emf.check.ui.CheckValidationView"
            icon="icons/check.png"
            id="org.eclipse.sphinx.emf.check.ui.markersView"
            name="Check Validation">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.sphinx.emf.check.ui.markers.tests.GenerateErrorMarkersHandler"
            id="org.eclipse.sphinx.emf.check.ui.commands.generateErrorMarkers"
            name="Generate Error Markers">
      </command>
      <command
            defaultHandler="org.eclipse.sphinx.emf.check.ui.markers.tests.DeleteErrorMarkersHandler"
            id="org.eclipse.sphinx.emf.check.ui.commands.deleteErrorMarkers"
            name="Delete Error Markers">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.ide.MarkersView">
         <command
               commandId="org.eclipse.sphinx.emf.check.ui.commands.generateErrorMarkers"
               style="push">
         </command>
         <command
               commandId="org.eclipse.sphinx.emf.check.ui.commands.deleteErrorMarkers"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.sphinx.emf.check.ui.markersView">
         <menu
               id="org.eclipse.sphinx.emf.check.ui.filtersMenu"
               label="Show">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.FiltersContribution"
                  id="org.eclipse.ui.ide.filtersContribution">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <test
                        property="org.eclipse.ui.ide.hasFilters">
                  </test>
               </with>
            </visibleWhen>
         </menu>
         <menu
               id="exampleGroupByMenu"
               label="Group By"
               mnemonic="G">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.GroupsContribution"
                  id="org.eclipse.ui.ide.dynamic1">
            </dynamic>
         </menu>
         <menu
               id="org.eclipse.sphinx.emf.check.ui.markerSortMenu"
               label="Sort By"
               mnemonic="S">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.SortFieldContribution"
                  id="org.eclipse.ui.ide.problems.sortEntries">
            </dynamic>
         </menu>
         <command
               commandId="org.eclipse.ui.ide.configureFilters"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.window.preferences"
               label="Preferences"
               mnemonic="P"
               style="push">
            <parameter
                  name="preferencePageId"
                  value="org.eclipse.ui.ide.markers">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.views.TaskList">
         <menu
               id="org.eclipse.ui.ide.tasks.contentsMenu"
               label="%MarkerContentsMenu.Contents.name">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.ContentsContribution"
                  id="org.eclipse.ui.ide.contentsContribution">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <test
                        property="org.eclipse.ui.ide.multipleContentGenerators">
                  </test>
               </with>
            </visibleWhen>
         </menu>
         <menu
               id="org.eclipse.ui.ide.tasks.filtersMenu"
               label="%MarkerFiltersMenu.Show">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.FiltersContribution"
                  id="org.eclipse.ui.ide.filtersContribution">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <test
                        property="org.eclipse.ui.ide.hasFilters">
                  </test>
               </with>
            </visibleWhen>
         </menu>
         <menu
               id="tasksGroupByMenu"
               label="%MarkerGroupMenu.GroupBy">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.GroupsContribution"
                  id="org.eclipse.ui.ide.dynamic1">
            </dynamic>
         </menu>
         <menu
               id="org.eclipse.ui.ide.tasks.markerSortMenu"
               label="%Menu.Sort.label"
               mnemonic="%Menu.Sort.mnemonic">
            <dynamic
                  class="org.eclipse.ui.internal.views.markers.SortFieldContribution"
                  id="org.eclipse.ui.ide.tasks.sortEntries">
            </dynamic>
         </menu>
         <command
               commandId="org.eclipse.ui.ide.OpenMarkersView"
               label="%OpenAnother.Tasks"
               mnemonic="%OpenAnother.Mnemonic">
         </command>
         <command
               commandId="org.eclipse.ui.ide.configureFilters"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.window.preferences"
               label="%command.preferences.label"
               mnemonic="%command.preferences.mnemonic"
               style="push">
            <parameter
                  name="preferencePageId"
                  value="org.eclipse.ui.ide.markers">
            </parameter>
         </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.ide.markerSupport">
      <markerContentGenerator
            defaultMarkerGrouping="org.eclipse.ui.ide.severity"
            id="org.eclipse.sphinx.emf.check.ui.markerGenerator"
            name="Validation Contents">
         <markerFieldReference
               id="org.eclipse.sphinx.emf.check.ui.description"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.resourceField"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.locationField"
               visible="true">
         </markerFieldReference>
         <markerTypeReference
               id="org.eclipse.sphinx.emf.check.checkvalidationproblemmarker">
         </markerTypeReference>
         <markerFieldReference
               id="org.eclipse.ui.ide.markerType"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.sphinx.emf.check.ui.description.uri"
               visible="true">
         </markerFieldReference>
         <markerFieldReference
               id="org.eclipse.sphinx.emf.check.ui.source"
               visible="true">
         </markerFieldReference>

         <markerFieldConfiguration
               id="org.eclipse.sphinx.emf.check.ui.markers.group"
               name="All Errors"
               scope="ON_ANY">
         </markerFieldConfiguration>
         <markerGrouping
               id="org.eclipse.ui.ide.allMarkers.severity"
               label="Severity">
            <markerGroupingEntry
                  id="org.eclipse.ui.ide.allmarkers.errorSeverity"
                  label="Errors"
                  priority="30">
            </markerGroupingEntry>
            <markerGroupingEntry
                  id="org.eclipse.ui.ide.allmarkers.warningSeverity"
                  label="Warnings"
                  priority="20">
            </markerGroupingEntry>
            <markerGroupingEntry
                  id="org.eclipse.ui.ide.allmarkers.other"
                  label="Infos"
                  priority="10">
            </markerGroupingEntry>
            <markerAttributeGrouping
                  attribute="severity"
                  markerType="org.eclipse.core.resources.marker">
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.errorSeverity"
                     value="2">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.warningSeverity"
                     value="1">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="0">
               </markerAttributeMapping>
               <markerAttributeMapping
                     markerGroupingEntry="org.eclipse.ui.ide.allmarkers.other"
                     value="-1">
               </markerAttributeMapping>
            </markerAttributeGrouping>
         </markerGrouping>
      </markerContentGenerator>
      <markerField
            class="org.eclipse.sphinx.emf.check.ui.markers.fields.DescriptionMarkerField"
            id="org.eclipse.sphinx.emf.check.ui.description"
            name="Description">
      </markerField>
      <markerField
            class="org.eclipse.sphinx.emf.check.ui.markers.fields.URIMarkerField"
            id="org.eclipse.sphinx.emf.check.ui.description.uri"
            name="URI">
      </markerField>
      <markerField
            class="org.eclipse.sphinx.emf.check.ui.markers.fields.SourceIDMarkerField"
            id="org.eclipse.sphinx.emf.check.ui.source"
            name="Source">
      </markerField>
   </extension>
    <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="org.eclipse.sphinx.emf.check.ui.markersView">
         <propertyCategory
               category="advanced"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="org.eclipse.sphinx.emf.check.ui.markersView">
         <propertyTab
               category="advanced"
               id="org.eclipse.sphinx.emf.check.ui.propertyTabs.advanced"
               label="Advanced">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="org.eclipse.sphinx.emf.check.ui.markersView">
         <propertySection
               class="org.eclipse.sphinx.emf.ui.properties.BasicTransactionalAdvancedPropertySection"
               id="org.eclipse.sphinx.emf.check.ui.propertySections.advanced"
               tab="org.eclipse.sphinx.emf.check.ui.propertyTabs.advanced">
            <input
                  type="java.lang.Object">
            </input>
         </propertySection>
      </propertySections>
   </extension>
</plugin>
