<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>

<!--
<copyright>

Copyright (c) 2008-2016 See4sys, BMW Car IT, itemis and others.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v2.0
which accompanies this distribution, and is available at
https://www.eclipse.org/org/documents/epl-2.0/EPL-2.0.html

Contributors:
    See4sys - Initial API and implementation
    BMW Car IT - [374883] Improve handling of out-of-sync workspace files during descriptor initialization
    itemis - [503063] Provide launching support for Sphinx Workflows

</copyright>
-->

<plugin>
  <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.sphinx.platform.ui.handlers.ExtendedNewPropertySheetHandler"
            commandId="org.eclipse.ui.views.properties.NewPropertySheetCommand">
         <activeWhen>
            <or>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eclipse.search.ui.views.SearchView">
                  </equals>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eclipse.sphinx.emf.check.ui.markersView">
                  </equals>
               </with>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eclipse.sphinx.emf.ui.views.references">
                  </equals>
               </with>
            </or>
         </activeWhen>
     </handler>
   </extension>

   <extension-point id="documentationViewFormatters" name="%documentationViewFormatters.name" schema="schema/documentationViewFormatters.exsd"/>

	<extension
         point="org.eclipse.ui.views">
      <view
            name="Documentation"
            icon="icons/sample.gif"
            category="org.eclipse.ui"
            class="org.eclipse.sphinx.platform.ui.views.documentation.DocumentationView"
            id="org.eclipse.sphinx.platform.ui.views.documentation.DocumentationView">
      </view>
   </extension>

</plugin>
