.DS_Store
/.metadata
/docs/*/target
/examples/*/xtend-gen
/examples/*/bin
/examples/*/target
/experimental/*/xtend-gen
/experimental/*/bin
/experimental/*/target
/features/*/target
/plugins/*/xtend-gen
/plugins/*/bin
/plugins/*/target
/releng/*/target
/releng/*/product/target
/releng/*/repository/target
/tests/*/bin
/tests/*/target
/tests/*/working-dir
/tools/*/bin